.LoginContainer {
    display: flex;
    flex-direction: column;
}

.InputLogin {
    padding: 16.5px 14px;
    font-size: 15px;
    border: 1px solid rgb(204, 202, 202);
    border-radius: 6px;
    margin: 0.5rem 0;
    max-width: 27rem;
    background-color: white;
}
.LastPassword{
    text-align: end;
    padding: 0 0.2rem;
    padding-bottom: 1.3rem;
}

.LoginButton {
    border: 1px solid rgb(204, 202, 202);
    width: 100%;
    border-radius: 8px;
    padding: 16.5px 14px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: black;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.25s;

}
.LoginButton:hover{
    border-color: #646cff;
}