.containerRegister{
    min-width: 23rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.RegisterInput{
    padding: 16.5px 5px;
    font-size: 15px;
    border: 1px solid rgb(204, 202, 202);
    border-radius: 6px;
    width: 100%;
    background-color: white;
}
.InputRegister{
    width: 100%;
    margin-bottom: 1rem;
}